<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product App</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="nav-bar"></div>
    <h1>Vuejs Components Fundamentals</h1>
    <div id="app">
        <click-counter></click-counter>     
        <counter></counter>
    </div>
    <script type="text/x-template" id="counter">
      <div>
          <p>the count is:</p>
          <button @click="count++">{{count}}</button>
      </div>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>