<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reusable components with props</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <h1 class="text-center py-6">Reusable components with props</h1>
    <div id="app" class="container mx-auto py-6">
        <header class="text-center">
          <div>
            <span id="logo">Liquid Gold Box</span>
          </div>
        </header>
        
        <div class="content">
          <h1 class="title">Coffee Plans</h1>
          
          <h2 class="subtitle">
            We travel the world to source the very best single origin coffee for you
          </h2>
          
          <div class="plans">
              <div class="plan">
                  <div class="description">
                      <span class="title">The Single</span>
                  </div>
              </div>
              <div class="plan">
                <div class="description">
                    <span class="title">The Curious</span>
                </div>
              </div>
              <div class="plan">
                <div class="description">
                    <span class="title">The Addict</span>
                </div>
              </div>

          </div>
        </div>
      </div> 
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="main.js"></script>
</body>
</html>