<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <!-- <div id="shopping-list">
        <h1>{{header.toLocaleUpperCase()}}</h1>
        <div class="add-item-form">
            <input type="text" v-model="newItem" placehoder="Add new item" v-on:keyup.enter="saveItem">
            <button class="btn btn-primary" v-bind:disabled="newItem.length === 0" v-on:click="saveItem">Add Item</button>
        </div>
        <ul> -->
            <!-- Array method for dynamic classes -->
            <!-- <li v-for="item in items" :class="[item.purchased ? 'strikeout' : '' , item.highPriority ? 'priority' : '']">{{item.label}}</li> -->

            <!-- <li v-for="item in reversedItems" :class="[item.purchased ? 'strikeout' : '' ]" @click="togglePurchased(item)">{{item.label}}</li>
        </ul>
    </div> -->

    <div id="shopping-list">
        <div class="header">
            <h1>{{ header.toLocaleUpperCase() }}</h1>
            <button v-if="state == 'default'" class="btn btn-primary" @click="changeState('edit')">Add Item</button> 
            <button v-else class="btn btn-cancel" @click="changeState('default')">Cancel</button>
        </div>
          <div v-if="state === 'edit'" class="add-item-form">
            <input type="text" v-model="newItem" placeholder="Add an item" v-on:keyup.enter="saveItem">
            <p>{{ characterCount }}/200</p>
            <button class="btn btn-primary" v-on:click="saveItem" v-bind:disabled="newItem.length === 0">Save Item</button>
          </div>
          <ul>
              <li v-for="item in reversedItems" :class="[ item.purchased ? 'strikeout' : '' ]" @click='togglePurchased(item)'> {{item.label}} </li>
          </ul>
          <p v-if="items.length == 0"> No items left </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>