<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product App</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="nav-bar"></div>
    <div id="app">
        <div class="product">
            <div class="product-image">
                 <img v-bind:src="image" >
            </div>
            <div class="product-info">
                <h1>{{product}}</h1>
                <p>{{description}}</p>
                <a :href="link" target="_blank">Search for products like this</a>
                <p v-if="instock">In Stock</p>
                <p v-else="instock">Out of stock</p>
                <p v-if="inventory > 10">  Inventory is in stock </p>
                <p v-else-if="inventory <=10 && inventory > 0">Almost sold out</p>
                <p v-else> inventory out of stock </p>
            </div>

        </div>
       
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>